In [1]:
using Pandas
using Seaborn

In [4]:
fn = "devel_data.csv"

"devel_data.csv"

In [5]:
df = DataFrame(Dict(:sloupec1 => [1,4,2,7], :sloupec2 => ["ahoj", "rad", "te", "vidim"]))
to_csv(df, fn; index=false)

In [7]:
df1 = read_csv(fn)

  sloupec2  sloupec1
0     ahoj         1
1      rad         4
2       te         2
3    vidim         7

In [8]:

df9 = DataFrame(Dict(:sloupec1 => [4,4,4,4], :sloupec2 => ["aa", "bb", "cc", "dd"]))

  sloupec2  sloupec1
0       aa         4
1       bb         4
2       cc         4
3       dd         4

In [12]:
concat((df1, df9); ignore_index=true, sort=false)

  sloupec2  sloupec1
0     ahoj         1
1      rad         4
2       te         2
3    vidim         7
4       aa         4
5       bb         4
6       cc         4
7       dd         4